$green: #59B210 ;
$blue: #3498db ;
$red: #e74c3c;
$orange: #F27A24;
$navy: #34495E;
$darkgreen: #21b68e;
$navtext: #5D5D5D;
$black: #3D3D3D;
$textblue: #0E53A5;
$bordergray: #e0e0e0;
$gray: #F8F8F8;
$white : #fff;
$darkgray: #dddada;
$perablack: #777 ;
$bluegray: #4F6276;


#blog .container .row .blog__main .blog__office ul li:nth-child(1) {
	position: relative;
    &::after{
        content: "";
        position: absolute;
    }
}



// ---------blog----------

#blog{
    padding:0 0 70px 0;
    .container{
        .row{
            .blog__main{
                .blog__img{
                    padding-bottom: 40px;
                    .slider__content_1{
                        background: url(../images/blog-1.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .slider__content_2{
                        background: url(../images/blog-2.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                .blog__office{
                    padding-bottom: 25px;
                    border-bottom: 1px solid $bordergray;
                    h2{
                        padding-bottom: 20px;
                        font-size: 30px;
                        color: $black;
                        line-height: 120%;
                        font-weight: 400 !important;
                        text-transform: capitalize;
                    }
                    ul{
                        display: flex;
                        gap: 40px;
                        li{
                            color: $perablack;
                            font-size: 16px;
                            display: inline-block;
                            position: relative;
                            &::after{
                                content: "\f111";
                                position: absolute;
                                font-family: fontawesome;
                                left: -18px;
                                top: 35%;
                                font-size: 5px;
                            }
                        }
                    }
                }
                .blog__pera{
                    padding-top: 25px;
                    .pera__bold{
                        font-size: 21px ;
                        font-weight: 700 ;
                    }
                    p{
                        font-size: 18px ;
                        line-height: 32px ;
                        color: $navtext;
                        padding: 0 ;
                        margin-bottom: 40px;
                    }
                    .row{
                        padding-top: 20px;
                        .pera__big{
                            padding-right: 20px;
                            h6{
                                margin-bottom: 40px;
                                color: $navtext;
                                font-size: 20px;
                                line-height: 30px;
                                font-weight: 500;
                            }
                        }
                        .pera__small{
                            padding-left: 50px;
                            position: relative;
                            &::after{
                                position: absolute;
                                content: "\f10d";
                                font-family: FontAwesome;
                                top: -10px;
                                left: 0;
                                font-size: 35px;
                                color: $perablack;
                            }
                            p{
                                font-weight: 700;
                                font-style: italic;
                                font-size: 18px;
                                color: $perablack;
                            }
                        }
                    }
                }
                .blog__tag{
                    padding-bottom: 30px;
                    label{
                        text-transform: capitalize;
                        font-size: 17px;
                        font-weight: 700;
                    }
                    span{
                        a{
                            color: $green;
                            font-size: 17px;
                            text-transform: capitalize;
                        }
                    }
                }
                .blog__id{
                    margin-top: 20px;
                    margin-bottom: 60px;
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    background: $gray;
                    .blog__id_img{
                        width: 20%;
                        height: 100%;
                    }
                    .blog__id_detail{
                        width: 80%;
                        h6{
                            font-size: 20px;
                            font-weight: 600;
                            margin: 15px 0px;
                            color: $black;
                            text-transform: capitalize;

                        }
                        p{
                            color: $perablack;
                            font-size: 18px;
                            line-height: 25px;
                            margin: 0;
                        }
                    }
                }
                .blog__comment{
                    h4{
                        font-size: 24px;
                        font-weight: 400 !important;
                        border-bottom: 1px solid $bordergray;
                        margin-bottom: 35px;
                        line-height: 40px;
                        color: $black;
                    }
                    .row{
                       .post_post{
                            .row{
                                .blog__post_main{
                                    .post__main{
                                        position: relative;
                                        padding: 21px;
                                        border: 1px solid $bordergray;
                                        .post__heading{
                                            display: flex;
                                            justify-content: space-between;
                                            .post__heading_main{
                                                span{
                                                    color:$perablack ; margin-right: 15px;
                                                    font-size: 15px;
                                                    a{
                                                        font-size: 15px;
                                                        color: $green;
                                                        font-weight: 600;
                                                    }
                                                }
                                            }
                                            .post__heading_reply{
                                                span{
                                                a{
                                                        font-size: 16;
                                                        color: $perablack;
                                                    text-transform: capitalize;
                                                    }
                                                }
                                            }
                                        }
                                        p{
                                            font-size: 16px;
                                            padding-top: 20px;
                                            color: $perablack;
                                            margin-bottom: 0px;
                                        }
                                    }
                                }
                            }
                       } 
                    }
                    .reply__main{
                        margin-top: 70px;
                    }
                    .reply__messege{
                        margin-top: 45px;
                        margin-bottom: 30px;
                    }
                }
            }
            .blog__side{
                .small__search{
                    margin-bottom: 50px;
                    position: relative;
                    .search__btn{
                        position: absolute;
                        right: 18px;
                        top: 11px;
                        font-size: 16px;
                        background-color: transparent;
                        border: none;
                        color: $navtext;
                    }
                }
                .blog__side_detail{
                    margin-bottom: 70px;
                }
                .blog__side_categories{
                    margin-bottom: 50px;
                    ul{
                        li{
                            padding: 8px;
                            border-bottom: 1px solid $bordergray;
                            a{
                                display: flex;
                                font-size: 14px;
                                color: $navtext;
                                transition: all linear 0.2s;
                                justify-content: space-between;
                                align-items: center;
                                text-transform: capitalize;
                                font-weight: 700;
                                i{
                                    font-size: 12px;
                                }
                                &:hover{
                                    color: $green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}













