$green: #59B210 ;
$blue: #3498db ;
$red: #e74c3c;
$orange: #F27A24;
$navy: #34495E;
$darkgreen: #21b68e;
$navtext: #5D5D5D;
$black: #3D3D3D;
$textblue: #0E53A5;
$bordergray: #e0e0e0;
$gray: #F9F9F9;
$white : #fff;
$darkgray: #dddada;
$perablack: #777 ;
$bluegray: #4F6276;

/* =========== common css ======= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}
a{
    text-decoration: none;
}

// -----------common css--------

.common__heading {
	font-size: 24px;
	font-weight: 400 !important;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 35px;
	line-height: 40px;
	color: #3D3D3D;
}

.common__pera{
    font-size: 15px;
    line-height: 26px;
    color: $perablack;
}





// ---------common btn----------

.common__btn{
    text-transform: capitalize;
    display: inline-block;
    padding: 15px 35px;
    background-color: $green;
    color: $white;
    font-weight: 700;
    border-radius: 5px;
    transition: all linear 0.2s;
    &:hover{
        opacity: 0.7;
        color: $white;
    }
}
// ---------common btn----------



// --------dropdown-------------
.dropdown_main{
    position: relative;
    &:hover .dropdown{
        opacity: 1;
        visibility: visible;
        top: 22px;
    }
}

.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 10px 3px !important;
    border-top: 1px solid $green !important;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    left: 0px;
    transition: all linear 0.2s;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    z-index: 999;
    li{
        transition: all linear 0.2s;
        padding: 7px 15px;
        text-transform: capitalize;
        display: block;
        text-align: left;
        &::after{
            content: "";
            width: 0 !important;
            height: 0 !important;
        }
        &:hover{
            background-color: $darkgray;
        }
        a{
            display: block;
        }
    }
}

// --------dropdown-------------


// --------checkout & input------

.checkout__heading{
    font-size: 30px;
    line-height: 52px;
    font-weight: 500 !important;
    color: $black;
    border-bottom: 1px solid $bordergray;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.main__name{
    
    max-width: 100%;
    margin-bottom: 5px;
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: #3D3D3D;
    text-transform: capitalize;
    margin-bottom: 10px;
    
}

.common__input{
    padding: 10px;
    background-color: #ececec;
    border: 0;
    outline: none;
    border-radius: 3px;
    transition: all linear 0.2s;
    width: 100%;
    &::placeholder{
        text-transform: capitalize;
    }
    &:hover{
        background-color:$darkgray ;
    }
    &:focus{
        background-color: $darkgray;
    }
}


// --------checkout $ input------

// ---------slick slider------------

.slick__slider{
    position: relative;
    &:hover{
        .slick-dots{
            opacity: 99;
            visibility: visible;
            bottom: -20px;
        }
    }
    .slider__content_1{
        width: 100%;
        height: 520px;
        background: url(../images/banner1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .content__detail{
            padding: 75px 0 100px 100px;
            h4{
                font-size: 50px;
                font-weight: 400;
                color: $navtext;
                text-transform: uppercase;
                line-height: 40px;
            }
            h2{
                font-size: 80px;
                font-weight: 800;
                color: $navtext;
                margin-bottom: 20px;
            }
            h5{
                font-size: 28px;
                font-weight: 400;
                color: $navtext;
                text-transform: uppercase;
                line-height: 110%;
                margin-bottom: 10px;
            }
            p{
                font-size: 12px;
                columns: $navtext;
                text-transform: uppercase;
                margin-bottom: 30px;

            }
            .common__btn{
                text-transform: capitalize;
                display: inline-block;
                padding: 15px 35px;
                background-color: $green;
                color: $white;
                font-weight: 700;
                border-radius: 5px;
                transition: all linear 0.2s;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    .slider__content_2{
        width: 100%;
        height: 520px;
        background: url(../images/banner2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .content__detail{
            padding: 75px 0 100px 100px;
            h4{
                font-size: 50px;
                font-weight: 400;
                color: $navtext;
                text-transform: uppercase;
                line-height: 40px;
            }
            h2{
                font-size: 80px;
                font-weight: 800;
                color: $navtext;
                margin-bottom: 20px;
            }
            h5{
                font-size: 28px;
                font-weight: 400;
                color: $navtext;
                text-transform: uppercase;
                line-height: 110%;
                margin-bottom: 10px;
            }
            p{
                font-size: 12px;
                columns: $navtext;
                text-transform: uppercase;
                margin-bottom: 30px;

            }
            .common__btn{
                text-transform: capitalize;
                display: inline-block;
                padding: 15px 35px;
                background-color: $green;
                color: $white;
                font-weight: 700;
                border-radius: 5px;
                transition: all linear 0.2s;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 70px;
        background-color: $white;
        height: 40px;
        position: absolute;
        bottom:-30px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        transition: all linear 0.2s;
        opacity: 0;
        visibility: hidden;
        li{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: rgba(124, 118, 175, 0.652);
            transition: all linear 0.2s;
            &:hover{
                cursor: pointer;
                background-color: $green;
            }
            button{
                display: none;
            }
        }
        .slick-active{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $green;
        }
    }
}

// ---------slick slider------------

// ----------seller big content-----

.seller__big_content{
    width: 40%;
    background-color: $white;
    padding: 20px;
    border-top: 1px solid $darkgray;
    border-right: 1px solid $darkgray;
    border-bottom: 1px solid $darkgray;

    .big__content_img_main{
        .big__slider{
            .big__content_img{
                img{
                    width: 100%;
                    margin-bottom: 35px;
                }
            }
            ul{
                display: flex;
                margin-left: 30px;
                li{
                    content: url(../images/big_product-thumb.jpg);
                    border: 1px solid $darkgray;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .slick-active{
                    border: 1px solid $black;
                }
            }
        }
        .big__img_detail{
            margin-top: 20px;
            margin-left: 10px;
            border-bottom: 1px solid $darkgray;
            h2{
                font-size: 20px;
                line-height: 26px;
                color: $textblue;
                transition: all linear 0.3s;
                font-weight: 700;
                &:hover{
                    color: $green;
                }
            }
            p{
                text-transform: uppercase;
                font-size: 12px;
                margin-bottom: 40px;
            }
        }
        .big__img_price{
            display: flex;
            column-gap: 30px;
            justify-content: end;
            align-items: center;
            margin-top: 20px;
            p{
                font-size: 25px;
                font-weight: 700;
                color: $navtext;
                line-height: 55px;
                margin: 0;
            }
        }
    }
}



// ----------seller big content-----

// ----------handle--------

.handle-counter{
    display: flex;
    align-items: center;
    p{
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 60px;
        font-size: 16px;
        border: 1px solid $bordergray;
        background-color: $gray;
        margin: 0;
        border-radius: 0;
        color: $black;
        transition: all linear 0.2s;
        &:hover{
            opacity: 0.8;
            color: $green;
            background-color: $gray;
            border:1px solid $bordergray ;
        }
    }
    input{
        height: 60px;
        width: 60px;
        padding: 0 0 0 0;
        padding-left: 22px;
        border: 0;
        border-top: 1px solid $bordergray;
        border-bottom: 1px solid $bordergray;
        font-size: 20px;
        outline: none;
    }
}







// ----------handle--------

// ------------rating star----------

.ratingstar {
    font-size:1.2rem;
}
.fas.ratingstar {
    color:#ffbf00;
}
.far.ratingstar {
    color: #CCC;
}



// ------------review comment----------
.row{
    .blog__post_main{
        .post__main{
            position: relative;
            padding: 21px;
            border: 1px solid $bordergray;
            &::before{
                top: 16%;
                left: -10px;
                border-width: 7.5px 10px 7.5px 0px;
                border-color: transparent #d1caca transparent rgba(224, 224, 224, 0);
                content: "";
                display: block;
                position: absolute;
                z-index: 100;
                width: 0;
                height: 0;
                border-style: solid;
                transition: 0.2s ease;
            }
            &::after{
                top: 16%;
                border-width: 7.5px 10px 7.5px 2px;
                border-color: transparent #fff transparent #F9F9F900;
                content: "";
                display: block;
                position: absolute;
                z-index: 100;
                width: 0;
                height: 0;
                border-style: solid;
                transition: 0.2s ease;
                left: -10px;
            }
            
            .post__heading{
                display: flex;
                justify-content: space-between;
                .post__heading_main{
                    display: flex;
                    span{
                        color:$perablack ; margin-right: 15px;
                        font-size: 15px;
                        a{
                            font-size: 15px;
                            color: $green;
                            font-weight: 600;
                        }
                    }
                }
                .post__heading_reply{
                    span{
                    a{
                            font-size: 16;
                            color: $perablack;
                        text-transform: capitalize;
                        }
                    }
                }
            }
            p{
                font-size: 16px;
                padding-top: 20px;
                color: $perablack;
                margin-bottom: 0px;
            }
        }
    }
}