$green: #59B210 ;
$blue: #3498db ;
$red: #e74c3c;
$orange: #F27A24;
$navy: #34495E;
$darkgreen: #21b68e;
$navtext: #5D5D5D;
$black: #3D3D3D;
$textblue: #0E53A5;
$bordergray: #e0e0e0;
$gray: #F9F9F9;
$white : #fff;
$darkgray: #dddada;
$perablack: #777 ;
$bluegray: #4F6276;

// ------map--------
#maps{
    width: 100%;
    height: 500px;
}

// ----------diection-----

#direction{
    padding: 20px 0;
    background-color: $darkgray;
    .container{
        .direction__wrapper{
            display: flex;
            justify-content: center;
            input{
                width: 70%;
                padding: 10px;
                border: none;
                border-radius: 5px 0 0 5px;
                padding-left: 50px;
                outline: none;
                transition: all linear 0.2s;
                &:focus{
                    box-shadow: 0 0 15px 1px rgba(0, 0, 255, 0.233);
                }
            }
            .common__btn{
                border-radius: 0 5px 5px 0;
            }
        }
    }
}

// =========messege-------

#messege{
    padding: 100px 0;
    .container{
        .row{
            .messege__form{
                .form__heading{
                    h2{
                        color: $black;
                        font-size: 28px;
                        line-height: 36px;
                        font-weight: normal !important;
                        padding-bottom: 14px;
                        margin-bottom: 12px;
                        border-bottom: 1px solid $bordergray;
                    }
                    p{
                        color: $navtext;
                        padding-bottom: 10px;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
                .form__contact{
                    form{
                        .row{
                            .contact__name{
                                h2{
                                    color: $black;
                                    font-size: 16px;
                                    line-height: 22px;
                                    font-weight: 600 !important;
                                    text-transform: capitalize;
                                }
                                input,textarea{
                                    width: 100%;
                                    padding: 10px;
                                    background-color: $darkgray;
                                    outline: none;
                                    border: none;
                                    padding-left: 30px;
                                    &::placeholder{
                                        text-transform: capitalize;
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}






