@import "./common";




$green: #59B210 ;
$blue: #3498db ;
$red: #e74c3c;
$orange: #F27A24;
$navy: #34495E;
$darkgreen: #21b68e;
$navtext: #5D5D5D;
$black: #3D3D3D;
$textblue: #0E53A5;
$bordergray: #e0e0e0;
$gray: #F9F9F9;
$white : #fff;
$darkgray: #dddada;
$perablack: #777 ;
$bluegray: #4F6276;



/* =========== common css ======= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}
a{
    text-decoration: none;
}


// --------dropdown-------------
.dropdown_main{
    &:hover .dropdown{
        opacity: 1;
        visibility: visible;
        top: 25px;
    }
}

.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 10px 3px !important;
    border-top: 1px solid $green !important;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    left: 0px;
    transition: all linear 0.2s;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    z-index: 999;
    li{
        transition: all linear 0.2s;
        padding: 7px 15px;
        text-transform: capitalize;
        display: block;
        text-align: left;
        &::after{
            content: "";
            width: 0 !important;
            height: 0 !important;
        }
        &:hover{
            background-color: $darkgray;
        }
        a{
            display: block;
        }
    }
}

// --------dropdown-------------


.common__btn{
    text-transform: capitalize;
    display: inline-block;
    padding: 15px 35px;
    background-color: $green;
    color: $white;
    font-weight: 700;
    border-radius: 5px;
    transition: all linear 0.2s;
    &:hover{
        opacity: 0.7;
    }
}







// -----------common css--------


// =============sale tag==========

#banner .tab-content .row .sale:nth-child(2) .sale__item .sale__tag {
	position: absolute;
	top: 30px;
	left: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 4px 30px 4px 20px;
	border-top: 25px solid $blue;
	border-right: 15px solid transparent;
	border-left: 0px;
}
#banner .tab-content .row .sale:nth-child(4) .sale__item .sale__tag{
	position: absolute;
	top: 30px;
	left: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 4px 30px 4px 20px;
	border-top: 25px solid $blue;
	border-right: 15px solid transparent;
	border-left: 0px;
}
.sale__tag_1 {
	position: absolute;
	top: 60px;
	left: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 4px 80px 4px 20px;
	border-top: 25px solid $green;
	border-right: 15px solid transparent;
	border-left: 0px;
    span{
        position: absolute;
        top: -22px;
        left: 12px;
    }
}









// =============sale tag==========



















// ---------------nav------------------
#nav{
    padding: 10px 0;
    border-bottom: 1px solid $bordergray;
    background-color: $gray;
    .container{
        .nav__wrapper{
            display: flex;
            justify-content: space-between;
            .nav__wrapper_content_1{
                ul{
                    display: flex;
                    column-gap: 40px;
                    font-size: 13px;
                    .dropdown_main{
                        &:hover .dropdown{
                            opacity: 1;
                            visibility: visible;
                            top: 25px;
                        }
                    }
                    li{
                        position: relative;
                        color: $navtext ;
                        &::after{
                            content: "";
                            position: absolute;
                            right: -20px;
                            top: 0;
                            width: 1px;
                            height: 100%;
                            background-color: $bordergray;

                        }
                        a{
                            color: $navtext ;
                            transition: all linear 0.3s;
                            text-transform: capitalize;
                            &:hover{
                                color: $green;
                                cursor: pointer;
                            }
                        }
                        .dropdown{
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            background-color: $white;
                            padding: 10px 3px !important;
                            border-top: 1px solid $green;
                            top: 0px;
                            visibility: hidden;
                            opacity: 0;
                            left: 0px;
                            transition: all linear 0.2s;
                            box-shadow: 0 6px 12px rgba(0,0,0,.175);
                            border: 1px solid rgba(0,0,0,.15);
                            li{
                                transition: all linear 0.2s;
                                padding: 7px 15px;
                                text-transform: capitalize;
                                display: block;
                                text-align: left;
                                &::after{
                                    content: "";
                                    width: 0;
                                    height: 0;
                                }
                                &:hover{
                                    background-color: $darkgray;
                                }
                                a{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .nav__wrapper_content_2{
                ul{
                    display: flex;
                    column-gap: 40px;
                    font-size: 13px;
                    li{
                        position: relative;
                        color: $navtext ;
                        text-transform: capitalize;
                        &::after{
                            content: "";
                            position: absolute;
                            right: -20px;
                            top: 0;
                            width: 1px;
                            height: 100%;
                            background-color: $bordergray;

                        }

                        a{
                            color: $navtext ;
                            transition: all linear 0.3s;
                            &:hover{
                                color: $green;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}


// ---------------header----------------

#header{
	padding: 40px 0 31px 0;
	border-bottom: 1px solid #e0e0e0;
    .container{
        .row{
            align-items: center;
            .logo{
                img{
                    width: 100%;
                }
            }
            .search{
                .header__search_wrapper{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .header__info{
                        padding: 0 0 10px 10px;
                        display: flex;
                        column-gap: 20px;
                        a{
                            font-size: 14px;
                            color: $navtext;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i{
                                font-size: 20px;
                                color: $green;
                                margin-right: 7px;
                            }
                        }
                    }
                    .header__search{
                        width: 100%;
                        display: flex;

                        border-radius: 5px 0 0 5px;
                        input{
                            border-radius: 5px 0 0 5px;
                            border: none;
                            width: 65%;
                            padding: 13px;
                            outline: none;
                            border-right: 1px solid $darkgray;
                            border-top: 3px solid $darkgray;
                            border-bottom: 3px solid $darkgray;
                            border-left: 3px solid $darkgray;
                        }
                        div{
                            display: flex;
                            align-items: center;
                            border-top: 3px solid $darkgray;
                            border-bottom: 3px solid $darkgray;
                            ul{
                                display: inline-block;

                                li{
                                    a{
                                        font-size: 14px;
                                        color: $navtext;
                                        text-transform: capitalize;
                                        padding:0 20px 0 10px ;
                                    }
                                    .dropdown{
                                        top: 155px;
                                        left: 830px;
                                    }
                                }
                            }
                        }
                        .btn{
                            background-color: $green;
                            border: 5px solid $green;
                            border-radius: 0 5px 5px 0;
                            color: $white;
                            font-size: 25px;
                        }
                    }
                }
            }
            .list{
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                margin-top: 20px;
                a{
                    font-size: 12px;
                    color: $navtext;
                }
            }
            .cart{
                display: flex;
                column-gap: 10px;
                margin-top: 20px;
                .cart__icon{
                    position: relative;
                    font-size: 40px;
                    display: inline-block;
                    .popup{
                        position: absolute;
                        color: #fff;
                        top: 10px;
                        right: 8px;
                        border-radius: 100px;
                        width: 21px;
                        height: 21px;
                        line-height: 21px;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                        background-color: $green;
                    }
                }
                .cart__price{
                    a{
                        font-size: 16px;
                        color: $navtext;
                        text-transform: capitalize;
                        span{
                            font-size: 25px;
                            font-weight: 600;
                            color: $green;
                        }
                    }
                }
            }
        }
    }

}


// -----------banner------------------

#banner{
    padding: 30px 0 100px 0;
    border-bottom: 1px solid $darkgray;
    // ---------banner menu $ slider---------
    .row{
        margin-bottom: 30px;
        .banner__menu{
            text-transform: capitalize;
            font-weight: 600;
            .banner__menu_head{
                padding: 15px;
                background-color: $green;
                border-radius: 5px 5px 0 0;
                color: $white;
                text-transform: capitalize;
            }
            .banner__menu_list{
                ul{
                    border-left: 1px solid $darkgray;
                    border-right: 1px solid $darkgray;
                    border-bottom: 1px solid $darkgray;
                    border-radius: 0 0 5px 5px;
                    li{
                        padding: 10px 14px;
                        background-color: $gray;
                        position: relative;
                        transition: all linear 0.3s;
                        cursor: pointer;

                        &:hover{
                            background-color: $green;
                            a{
                                color: $white;
                                i{
                                    opacity: 11;
                                    color: $white;
                                }
                            }
                        }
                        a{
                            color: $navtext;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            i{
                                font-size: 12px;
                                opacity: 0;
                            }
                        }
                    }
                    .menu_list_li{
                        background-color: $white;
                    }
                }
            }
        }
        .banner__content{
            .slick__slider{
                position: relative;
                &:hover{
                    .slick-dots{
                        opacity: 99;
                        visibility: visible;
                        bottom: -20px;
                    }
                }
                .slider__content_1{
                    width: 100%;
                    height: 520px;
                    background: url(../images/banner1.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    .content__detail{
                        padding: 75px 0 100px 100px;
                        h4{
                            font-size: 50px;
                            font-weight: 400;
                            color: $navtext;
                            text-transform: uppercase;
                            line-height: 40px;
                        }
                        h2{
                            font-size: 80px;
                            font-weight: 800;
                            color: $navtext;
                            margin-bottom: 20px;
                        }
                        h5{
                            font-size: 28px;
                            font-weight: 400;
                            color: $navtext;
                            text-transform: uppercase;
                            line-height: 110%;
                            margin-bottom: 10px;
                        }
                        p{
                            font-size: 12px;
                            columns: $navtext;
                            text-transform: uppercase;
                            margin-bottom: 30px;

                        }
                        .common__btn{
                            text-transform: capitalize;
                            display: inline-block;
                            padding: 15px 35px;
                            background-color: $green;
                            color: $white;
                            font-weight: 700;
                            border-radius: 5px;
                            transition: all linear 0.2s;
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                    }
                }
                .slider__content_2{
                    width: 100%;
                    height: 520px;
                    background: url(../images/banner2.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    .content__detail{
                        padding: 75px 0 100px 100px;
                        h4{
                            font-size: 50px;
                            font-weight: 400;
                            color: $navtext;
                            text-transform: uppercase;
                            line-height: 40px;
                        }
                        h2{
                            font-size: 80px;
                            font-weight: 800;
                            color: $navtext;
                            margin-bottom: 20px;
                        }
                        h5{
                            font-size: 28px;
                            font-weight: 400;
                            color: $navtext;
                            text-transform: uppercase;
                            line-height: 110%;
                            margin-bottom: 10px;
                        }
                        p{
                            font-size: 12px;
                            columns: $navtext;
                            text-transform: uppercase;
                            margin-bottom: 30px;

                        }
                        .common__btn{
                            text-transform: capitalize;
                            display: inline-block;
                            padding: 15px 35px;
                            background-color: $green;
                            color: $white;
                            font-weight: 700;
                            border-radius: 5px;
                            transition: all linear 0.2s;
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                    }
                }
                .slick-dots{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 70px;
                    background-color: $white;
                    height: 40px;
                    position: absolute;
                    bottom:-30px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 5px;
                    transition: all linear 0.2s;
                    opacity: 0;
                    visibility: hidden;
                    li{
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: rgba(124, 118, 175, 0.652);
                        transition: all linear 0.2s;
                        &:hover{
                            cursor: pointer;
                            background-color: $green;
                        }
                        button{
                            display: none;
                        }
                    }
                    .slick-active{
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: $green;
                    }
                }
            }
        }
    }
    // -------banner mobile & watch-------
    .row{

        .mobile{
            .banner__mobile{
                width: 100%;
                position: relative;
                padding: 50px 30px 50px 30px;
                text-transform: capitalize;
                display: block;
                overflow: hidden;
                &:hover{
                    img{
                        opacity: 0.9;
                        transform: rotate(-1deg) scale(1.1);
                    }
                }
                h2{
                    font-weight: 800;
                    color: $bluegray;
                    font-style: 36px;
                    z-index: 22;
                    position: relative;
                }
                h4{
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 33px;
                    z-index: 22;
                    position: relative;
                    color: $bluegray;
                }
                img{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    transition: all linear 0.2s;
                }
            }
            .banner__watch{
                width: 100%;
                position: relative;
                padding: 50px 30px 50px 30px;
                text-transform: capitalize;
                display: block;
                overflow: hidden;
                text-align: right;
                &:hover{
                    img{
                        opacity: 0.9;
                        transform: rotate(1deg) scale(1.1);
                    }
                }
                h2{
                    font-weight: 800;
                    color: $bluegray;
                    font-style: 36px;
                    z-index: 22;
                    position: relative;
                }
                h4{
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 33px;
                    z-index: 22;
                    position: relative;
                    color: $bluegray;
                }
                img{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    transition: all linear 0.2s;
                }
            }
        }

    }
    // ----------navs & tabs-----------
    nav{
        margin-top: 80px;
        #nav-tab{
            gap: 30px;
            overflow-x: hidden ;
            .nav-link{
                background-color: $gray;
                padding: 10px 40px;
                font-size: 20px;
                color: $navtext;
                transition: 0.3s;
                border-radius: 5px 5px 0 0;
            }
            .nav-link.active{
                background-color: $green;
                color: $white;
                position: relative;
                z-index: 11;
                border-radius: 5px 5px 0 0;
            }

        }

    }

    .tab-content{
        .row{
            .sale{
                position: relative;
                z-index: 22;
                .sale__item{
                    padding: 10px 10px 40px 10px;
                    border: 1px solid $darkgray;
                    background-color: $white;
                    position: relative;
                    &:hover{
                        .sale__order{
                            visibility: visible;
                        }
                    }
                    .sale__tag{
                        position: absolute;
                        top: 30px;
                        left: 0;
                        font-size: 12px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $white;
                        padding: 4px 30px 4px 20px;
                        border-top: 25px solid $red;
                        border-right: 15px solid transparent;
                        border-left: 0px;
                        span{
                            position: absolute;
                            left: 12px;
                            top: -21px;

                        }
                    }
                    img{
                        width: 100%;

                    }
                    .sale__detail{
                        padding: 0 15px;
                        height: 130px;
                        border-bottom: 1px solid $darkgray;
                        h6{
                            display: inline-block;
                            padding: 0 8px;
                            font-weight: 600;
                            font-size: 11px;
                            line-height: 16px;
                            background-color: $green;
                        }
                        h4{
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 19px;
                            color: $textblue;
                        }
                        h5{
                            font-size: 10px;
                            text-transform: uppercase;
                            line-height: 30px;
                        }
                    }
                    .sale__price{
                        display: flex;
                        padding: 20px 15px 0 15px;
                        justify-content: space-between;
                        h2{
                            display: inline-block;
                            font-size: 14px;
                            color: $perablack;
                        }
                        h3{
                            font-size: 17px;
                            color: $navtext;
                            display: inline-block;
                            font-weight: 700;
                        }
                    }
                    .sale__order{
                        position: absolute;
                        bottom: -97px;
                        width: 100%;
                        left: 0;
                        padding-bottom: 30px;
                        background-color: $white;
                        border-left: 1px solid $darkgray;
                        border-right: 1px solid $darkgray;
                        border-bottom: 1px solid $darkgray;
                        visibility: hidden;
                        display: flex;
                        justify-content: center;
                        gap: 20px;
                        flex-direction: column;
                        div{
                            display: flex;
                            justify-content: center;
                            a{
                                display: inline-block;
                                transition: 0s;
                            }
                        }
                        .price__compare{
                            a{
                                font-size: 12px;
                                color: $navtext;
                                display: inline-block;
                                margin-right: 20px;

                            }
                        }
                    }
                }
            }
        }
    }
    .more__products{
        display: flex;
        justify-content: center;
        .products{
            display: inline-block;
            a{
                color: $navtext;
                display: flex;
                text-transform: capitalize;
                align-items: center;
                transition: all linear 0.3s;
                &:hover{
                    color: $green;
                    span{
                        background-color: $green;
                        color: $white;
                    }
                }
                span{
                    padding: 2px 5px;
                    background-color: $darkgray;
                    font-size: 12px;
                    border-radius: 4px;margin-right: 10px;
                    transition: all linear 0.3s;

                }
            }
        }
    }







}

// ----------------seller-------------


#seller{
    padding: 50px 0 60px 0;
    background-color: $gray;
    .container{
        .seller__heading{
            font-size: 34px;
            line-height: 40px;
            letter-spacing: -1px;
            margin-bottom: 30px;
            color: $navtext;
        }
        .seller__wrapper{
            display: flex;
            width: 100%;
            .seller__small_content{
                width: 60%;
                .small__content_wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .small__content{
                        width: 33.3%;
                        background-color: $white;
                        border: 1px solid $darkgray;
                        position: relative;
                        padding: 15px;
                        &:hover{
                            .small__content_order{
                                visibility: visible;
                            }
                        }
                        img{
                            width: 100%;

                        }
                        .small__content_detail{
                            padding-top: 20px;
                            padding-left: 5px;
                            border-bottom: 1px solid $darkgray;
                            h2{
                                font-size: 15px;
                                color: $textblue;
                                line-height: 19px;
                                text-transform: capitalize;
                                font-weight: 700;
                                transition: all linear 0.2s;
                                &:hover{
                                    color: $green;
                                    cursor: pointer;
                                }
                            }
                            p{
                                font-size: 10px;
                                line-height: 20px;
                                color: $navtext;
                                font-weight: 300;
                                text-transform: uppercase;
                                margin-bottom: 25px;
                            }
                        }
                        .small__content_price{
                            padding: 8px 3px 10px 0;
                            font-size: 17px;
                            font-weight: 700;
                            color: $navtext;
                            text-align: right;
                        }
                        .small__content_order{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            row-gap: 15px;
                            position: absolute;
                            bottom: -70px;
                            left: 0;
                            width: 100%;
                            padding-bottom: 20px;
                            background-color: $white;
                            font-size: 12px;
                            color: #5D5D5D;
                            display: inline-block;
                            visibility: hidden;
                            box-shadow: 0 0 19px 1px #0000002e;
                            z-index: 999;
                            div{
                                display: flex;
                                justify-content: center;
                                .common__btn{
                                    padding: 5px 10px ;
                                    font-size: 13px;
                                    transition: 0s;
                                    margin-bottom: 10px;
                                    margin-top: 15px;
                                }
                            }
                            .small__price_compare{
                                display: flex;
                                justify-content: center;
                                a{
                                    font-size: 12px;
                                    color: #5D5D5D;
                                    display: inline-block;
                                    margin-right: 20px;
                                    transition: 0s;
                                }
                            }
                        }
                        
                    }
                }
            }
            .seller__big_content{
                width: 40%;
                background-color: $white;
                padding: 20px;
                border-top: 1px solid $darkgray;
                border-right: 1px solid $darkgray;
                border-bottom: 1px solid $darkgray;

                .big__content_img_main{
                    .big__slider{
                        .big__content_img{
                            img{
                                width: 100%;
                                margin-bottom: 35px;
                            }
                        }
                        ul{
                            display: flex;
                            margin-left: 30px;
                            li{
                                content: url(../images/big_product-thumb.jpg);
                                border: 1px solid $darkgray;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                            .slick-active{
                                border: 1px solid $black;
                            }
                        }
                    }
                    .big__img_detail{
                        margin-top: 20px;
                        margin-left: 10px;
                        border-bottom: 1px solid $darkgray;
                        h2{
                            font-size: 20px;
                            line-height: 26px;
                            color: $textblue;
                            transition: all linear 0.3s;
                            font-weight: 700;
                            &:hover{
                                color: $green;
                            }
                        }
                        p{
                            text-transform: uppercase;
                            font-size: 12px;
                            margin-bottom: 40px;
                        }
                    }
                    .big__img_price{
                        display: flex;
                        column-gap: 30px;
                        justify-content: end;
                        align-items: center;
                        margin-top: 20px;
                        p{
                            font-size: 25px;
                            font-weight: 700;
                            color: $navtext;
                            line-height: 55px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}


// --------------recently part--------------

#recent{
    padding: 100px 0 500px 0;
    .container{
        .recent__heading{
            position: relative;
            margin-bottom: 32px;
            &::after{
                position: absolute;
                content: "";
                right: 145px;
                transform: translateY(-50%);
                top: 50%;
                width: 70%;
                height: 1px;
                background-color: $darkgray;

            }
            h2{
                font-size: 28px;
                line-height: 35px;
                color: $navtext;

            }
        }
        .recent__wrapper{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .recent__content_slider{
                width: 100%;
                position: relative;
                .recent__content_main{
                    width:16.66%;
                    text-align: center;
                    border: 1px solid $darkgray;
                    text-align: center;
                    background-color: #0E53A5;
                    img{
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .recent__content_detail{                        
                        padding: 0 10px;
                        a{
                            font-size: 15px;
                            line-height: 16px;
                            color: $textblue;
                            text-transform: capitalize;
                            font-weight: 700;
                        }
                        p{
                            line-height: 20px;
                            font-size: 10px;
                            text-transform: uppercase;
                            padding-bottom: 22px;
                            border-bottom: 1px solid $darkgray;
                            margin: 0;
                        }
                    }
                    .recent__content_price{
                        font-weight: 700;
                        font-size: 17px;
                        color: $black;
                        text-align: end;
                        padding: 5px 20px 20px 0;
                    }
                }
                .slick-prev{
                    position: absolute;
                    top: 0px;
                    right: 0;
                    display: none;
                    &::before{
                        position: absolute;
                        font-family: FontAwesome ;
                        content: "\f053";
                        right: 92px;
                        top: -65px;
                    }
                }
                .slick-next{
                    position: absolute;
                    top: 0px;
                    right: 0;
                    display: none;
                    &::before{
                        position: absolute;
                        font-family: FontAwesome ;
                        content: "\f054";
                        right: 80px;
                        top: -65px;
                    }
                }
            }
        }
    }
}












