$green: #59B210 ;
$blue: #3498db ;
$red: #e74c3c;
$orange: #F27A24;
$navy: #34495E;
$darkgreen: #21b68e;
$navtext: #5D5D5D;
$black: #3D3D3D;
$textblue: #0E53A5;
$bordergray: #e0e0e0;
$gray: #F9F9F9;
$white : #fff;
$darkgray: #dddada;
$perablack: #777 ;
$redgray: #4F6276;


// --------color switcher------

.color__main{
    position: fixed;
    top: 100px;
    left: 0px;
    display: flex;
    transition: all linear 0.3s;
    .color{
        background-color: $gray;
        border: 1px solid $black;
        padding: 12px;
        .color_inside{
            padding-bottom: 10px;
            h4{
                text-transform: capitalize;
                font-size: 22px;
                font-weight: 700
                ;
            }
            ul{            
                li{
                    width: 150px;
                    padding: 3px 5px;
                    transition: all linear 0.2s;
                    text-transform: capitalize;
                    &:hover{
                        cursor: pointer;
                        background-color: #F27A24;
                        color: $white;
                    }
                }
            }
        }        
    }
    .setting{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: aqua;
    }
}

.activation{
    
}

.group{
    left: -150px !important;
    transition: all linear 0.3s;
}



// --------------blue------------

.blue{
    #header .container .row .search .header__search_wrapper .header__info a i {
        color: $blue;
    }

    .dropdown {
        border-top: 1px solid $blue !important;
        li{
            a{
                &:hover{
                    color: $blue !important;
                }
            }
        }
        
    }

    #nav .container .nav__wrapper .nav__wrapper_content_1 ul li a:hover {
        color: $blue;
    }

    #header .container .row .cart .cart__icon .popup {
        background-color: $blue;
    }


    #header .container .row .cart .cart__price a span {
        color: $blue;
    }

    #header .container .row .search .header__search_wrapper .header__search .btn {
	    background-color: $blue;
	    border: 5px solid $blue;

    }

    #banner .row .banner__menu .banner__menu_head {
        background-color: $blue;
    }

    #banner .row .banner__menu .banner__menu_list ul li:hover {
        background-color: $blue;
    }

    .common__btn{
        background-color: $blue !important;
    }

    #banner .row .banner__content .slick__slider .slick-dots li:hover {
        background-color: $blue;
    }

    #banner .more__products .products a:hover {
        color: $blue;
    }

    #banner .row .banner__content .slick__slider .slick-dots .slick-active {
        background: $blue;
    }

    #banner nav #nav-tab .nav-link.active {
        background-color: $blue;
    }

    #banner .more__products .products a:hover span {
        background-color: $blue;
    }

    #seller .container .seller__wrapper .seller__small_content .small__content_wrapper .small__content .small__content_detail h2:hover {
        color: $blue;
    }

    #seller .container .seller__wrapper .seller__big_content .big__content_img_main .big__img_detail h2:hover {
        color: $blue;
    }

    #recent .container .recent__wrapper .recent__content_slider .slick-next:hover {
        color: $blue;
    }

    #brand .container .brand__wrapper .brand__slider .slick-next:hover {
        color: $blue;
    }


    #featured .container .row .featured__product .featured__product_heading h2 {
        color: $blue;
    }

    #featured .container .row .featured__product .featured__product_main .product__main_detail a:hover {
        color: $blue;
    }

    #footer .container .footer__wrapper .footer__search .footer__btn {
        background-color: $blue;
    }

    #footer .container .footer__wrapper .footer__logo_main .footer__icon a:hover {
        background-color: $blue;
    }

    // ---------------------home alt---------------

    #banner_alt .banner_alt__menu {
        background-color: #59B210;
    }

    #banner_alt .banner_alt__menu .container ul li .banner_alt__content {
        border-top: 1px solid #59B210;
    }

    #banner_alt .banner_alt__menu .container ul .alt__li::after {
        border-bottom: 10px solid #4d9b0e;
    }

    #banner_alt .banner_alt__slider .container .row .banner__content .slick__slider .slick-dots .slick-active {
        background: #59B210;
    }

    #banner_alt .banner_alt__slider .container .row .banner__content .slick__slider .slick-dots li:hover {
        background-color: #59B210;
    }

    #banner_alt .banner_alt__main_content .container nav #nav-tab .nav-link.active {
        background-color: #59B210;
    }

    .sale__detail h6 {
        background-color: $blue !important;
    }

    #banner_alt .banner_alt__main_content .container .more__products .products a:hover {
        color: #59B210;
    }

    #banner_alt .banner_alt__main_content .container .more__products .products a:hover span {
        background-color: #59B210;
    }


    // ----------------single product-------------

    .single__product .container .single__product_wrapper .single__product_info .product__info_rating .rating__main span a {
        color: #59B210;
    }

    .nav-link.active {
        background-color: $blue !important;
    }

    .main__description .description__tag span a {
        color: #59B210;
    }

    .row .blog__post_main .post__main .post__heading .post__heading_main span a {
        color: #59B210;
    }

    .main__description .your__review h4 {
        color: #59B210;
    }


    // ---------------cart-------------

    .shop-by__department a {
        background-color: $blue !important;
    }

    #cart .container .cart__wrapper .cart__detail_main .cart__coupon .coupon__search a {
        background-color: #59B210;
    }


    // --------------register-------------

    #register .container .row .register__sign_up .sign_up__today ul li i {
        color: #59B210;
    }

    // ---------------contact----------

    #messege .container .row .messege__info .info__heading p a {
        color: #59B210;
    }

    // -----------------about us----------------

    #we-do .container .row .we-do__content .content__icon {
        background-color: #59B210;
    }

    // ---------------blog------------

    .slick__slider .slick-dots .slick-active {
        background: #59B210;
    }

    .slick__slider .slick-dots li:hover {
        background-color: #59B210;
    }

    #blog .container .row .blog__main .blog__tag span a {
        color: #59B210;
    }

    #blog .container .row .blog__main .blog__comment .row .post_post .row .blog__post_main .post__main .post__heading .post__heading_main span a {
        color: #59B210;
    }

    #blog .container .row .blog__side .blog__side_categories ul li a:hover {
        color: #59B210;
    }

    #blog .container .row .blog__side .blog__side_tag .tagcloud a:hover {
        color: #59B210;
    }


    // ----------------FAQ-----------------

    #frequent .container .frequent__question ul li p .btn-primary:hover::after {
        color: #59B210;
    }

    // ---------------404----------

    #found .container .found__main h1 {
        color: $blue;
    }

    #found .container .found__main .found__search .found__btn {
        background-color: #59B210;
    }

    #found .container .found__main div a:hover {
        color: #59B210;
    }

}














// --------------red------------







.red{
    #header .container .row .search .header__search_wrapper .header__info a i {
        color: $red;
    }

    .dropdown {
        border-top: 1px solid $red !important;
        li{
            a{
                &:hover{
                    color: $red !important;
                }
            }
        }
        
    }

    #nav .container .nav__wrapper .nav__wrapper_content_1 ul li a:hover {
        color: $red;
    }



    #header .container .row .cart .cart__icon .popup {
        background-color: $red;
    }


    #header .container .row .cart .cart__price a span {
        color: $red;
    }

    #header .container .row .search .header__search_wrapper .header__search .btn {
	    background-color: $red;
	    border: 5px solid $red;

    }

    #banner .row .banner__menu .banner__menu_head {
        background-color: $red;
    }

    #banner .row .banner__menu .banner__menu_list ul li:hover {
        background-color: $red;
    }

    .common__btn{
        background-color: $red !important;
    }

    #banner .row .banner__content .slick__slider .slick-dots li:hover {
        background-color: $red;
    }

    #banner .more__products .products a:hover {
        color: $red;
    }

    #banner .row .banner__content .slick__slider .slick-dots .slick-active {
        background: $red;
    }

    #banner nav #nav-tab .nav-link.active {
        background-color: $red;
    }

    #banner .more__products .products a:hover span {
        background-color: $red;
    }

    #seller .container .seller__wrapper .seller__small_content .small__content_wrapper .small__content .small__content_detail h2:hover {
        color: $red;
    }

    #seller .container .seller__wrapper .seller__big_content .big__content_img_main .big__img_detail h2:hover {
        color: $red;
    }

    #recent .container .recent__wrapper .recent__content_slider .slick-next:hover {
        color: $red;
    }

    #brand .container .brand__wrapper .brand__slider .slick-next:hover {
        color: $red;
    }


    #featured .container .row .featured__product .featured__product_heading h2 {
        color: $red;
    }

    #featured .container .row .featured__product .featured__product_main .product__main_detail a:hover {
        color: $red;
    }

    #footer .container .footer__wrapper .footer__search .footer__btn {
        background-color: $red;
    }

    #footer .container .footer__wrapper .footer__logo_main .footer__icon a:hover {
        background-color: $red;
    }










}










